<div>
  <%= link_to "YouTube", "https://www.youtube.com/?gl=JP&hl=ja", :target=>["_blank"], class: :game__title %>
  <%= link_to "Amazon", "https://www.amazon.co.jp/?&tag=hydraamazonav-22&ref=pd_sl_7ibq2d37on_e&adgrpid=56100363354&hvpone=&hvptwo=&hvadid=289260145877&hvpos=&hvnetw=g&hvrand=449628600536528652&hvqmt=e&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1009524&hvtargid=kwd-10573980&hydadcr=27922_11415158&gclid=EAIaIQobChMIo8iC2_GN7wIVkb2WCh0LVwjZEAAYASAAEgIPF_D_BwE", :target=>["_blank"], class: :game__title %>
</div>