.top-page-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: yellow;
}

.nav {
  font-size: 18px;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.lists-right {
  display: flex;
  list-style: none;
  justify-content: center;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.page-title {
  font-size: 50px;
  text-decoration: none;
  color:wheat;
  background-color: teal;
}

.list-pict {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-color: violet;
  
}

.www {
  position: relative;
}