/* game_title/show */

.game_title_comments {
  margin: 100px 100px 0 100px;
}

.field {
  height: 150px;
  text-align: center;
}

.comment_text {
  height: 70%;
  width: 50%;
  padding: 3px;
}

.actions {
  text-align: center;
}

.comment_info {
  font-size: 20px;
}

.comment-btn {
  padding: 10px 40px;
  background-color: teal;
  color: wheat;
}

.comments_lists {
  border: 1px solid black;
  margin: 20px 50px;
  background-color: wheat;
  padding: 10px;
  border-radius: 10px;
}

.comments_list {
  border-bottom: 1px solid black;
  margin: 5px 10px;
}

.comment-text {
  word-wrap: break-word;
}

.comment-sign-out {
  text-align: center;
}
/* /game_title/show */